<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="css/light-style.css">
</head>
<body>
<div id="trip-button" class="dir-butt">
    <button id="trip">New Trip</button>
</div>
<br><br><br><br>
<div id="n-buttons" class="dir-butt">
    <button id="north">N</button><br>
</div>
<div id="ew-buttons" class="dir-butt">
    <button id="west">W</button><button id="east">E</button><br>
</div>
<div id="s-buttons" class="dir-butt">
    <button id="south">S</button>
</div>
<br><br><br><br>
<div id="stop-buttons" class="stop-butt">
        <button id="stop">GO</button>
</div>
    
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>