.dir-butt {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-family: monospace;
    font-size: 100px
}

#north, #south, #east, #west, #stop {
    height: 200px;
    width: 200px;
}

.stop-butt {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trip-id {
    text-align: center;
}