.dir-butt {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-family: monospace;
    font-size: 100px
}

.stop-butt {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}